// Màu sắc của web
$primary-color: #181818;
$secondary-color: #b61984;
$text-white: #ffffff;

$border-dark: #181818;
$border-white: #ffffff;

$bg-dark: #181818;
$bg-white: #ffffff;

//sizing: (font size)
$text-tiny: 12px;
$text-smaller: 13px;
$text-small: 13.5px;
$text-base: 16px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;
$text-7xl: 70px;

$fw-light: 300;
$fw-normal: 400;
$fw-semi: 600;
$fw-bold: 700;

//margin - padding
$m-0: 0;
$m-1: 0.25rem;
$m-2: 0.5rem;
$m-3: 0.75rem;
$m-4: 1rem;
$m-5: 1.25rem;
$m-6: 1.5rem;
$m-7: 1.75rem;
$m-8: 2rem;
$m-9: 2.25rem;

$p-0: 0;
$p-1: 0.25rem;
$p-2: 0.5rem;
$p-3: 0.75rem;
$p-4: 1rem;
$p-5: 1.25rem;
$p-6: 1.5rem;
$p-7: 1.75rem;
$p-8: 2rem;
$p-9: 2.25rem;

//Tạo ra các class margin và paddding
$lst-size: 0rem, 0.25rem, 0.75rem, 1rem, 1.25rem, 1.5rem; //List đơn giá trị
$i: 0;

@each $size in $lst-size {
    .m-#{$i}{
        margin: $size; 
    }
    .p-#{$i}{
        padding: $size;
    }
    .mt-#{$i} {
        margin-top: $size;
    }
    .mb-#{$i} {
        margin-bottom: $size;
    }
    .ms-#{$i} {
        margin-left: $size;
    }

    .me-#{$i} {
        margin-right: $size;
    }

    .mx-#{$i} {
        margin-left: $size;
        margin-right: $size;
    }

    .my-#{$i} {
        margin-top: $size;
        margin-bottom: $size;
    }


    //padding
    .pt-#{$i} {
        padding-top: $size;
    }
    .pb-#{$i} {
        padding-bottom: $size;
    }
    .ps-#{$i} {
        padding-left: $size;
    }

    .pe-#{$i} {
        padding-right: $size;
    }

    .px-#{$i} {
        padding-left: $size;
        padding-right: $size;
    }

    .py-#{$i} {
        padding-top: $size;
        padding-bottom: $size;
    }

    $i: $i+1;
}